<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="responsive.css">
</head>
<body>
    <nav>
        <h1 class="headingNav">Chat Corner</h1>
        <ul>
            <li><a href="/Home">Home</a></li>
            <li><a href="/Setting">Setting</a></li>
            <li><a href="/Profile">Profile</a></li>
        </ul>
    </nav>
    <main id="homeMain">
<div id="search">
    <form action="/Home" method="post">
    <input type="search" name="searchBar" class="searchBar" placeholder="Search here">
    <button type="submit" class="searchBtn" >Search</button>
    </form>
</div>
<div id="recentChats">
    <h2>Recent Chats</h2>
<div class="rce">
  <div class="rceDiv">
    <img src="<%= urlImg  %>" class="imgOfOther">
   <a href="/Chat?username=<%= encodeURIComponent(username) %>&imgUrl=<%= encodeURIComponent(urlImg) %>"><p id="NameOfOther"><%= username %></p></a>
  </div>
  
</div>
    <p class="msg" style="color:var(--bodygrey);font-family: var(--primaryfont);text-align:center;"><%= msg %></p>

    </main>
</body>
<script src="scriptF.js"></script>
</html>































<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
<style>
   

    </style>
</head>
<body>
 
    <div id="message1">

    </div>
    <form >
    <div id="extramsg1">
    <center><input type="text" id="Typemessage1" placeholder="Type message here"></center>
    <input type="button" value="Send" id="sendbtnmsg1">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="scriptF.js"></script>
<script>


</script>
</div>
</body>
</html> -->